/* Write your CSS here */
.appointment-item {
  list-style-type: none;
  border: 1px, solid, #b5b7c4;
  border-radius: 15px;
  padding: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .appointment-item {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 30px;
    min-width: 297px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.title {
  color: #171f46;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 18px;
  }
}

.star-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.star {
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  outline: none;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .star {
    width: 24px;
    height: 24px;
  }
}

.date {
  color: #171f46;
  font-family: 'roboto';
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .date {
    font-size: 16px;
  }
}
